/*
 * Laptop (default)
 */
 body:before {
	display: none;
	visibility: hidden;
	content: "laptop";
}

/*
 * Desktop
 */
@media all and (min-width: 1281px) {
	body:before { content: "desktop"; }
}

/*
 * Tablet landscape
 */
@media all and (min-width: 471px) and (max-width: 1024px) {
	body:before { content: "tablet"; }
}

/*
 * Mobile portrait
 */
@media all and (max-width: 470px) {
	body:before { content: "mobile"; }
}